.chat-window {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
  border: #0b1320;
  flex-grow: 1;
  background: #121212;
  color: white;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  margin-top: 20px;
  height: calc(100vh - 150px);
  overflow-y: auto;
  flex-grow: 1;
}

.start-message {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
}

button {
  padding: 10px 20px;
}