.profile-header {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the left */
  background-color: #0b1320;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
  color: white;
}

  
  .profile-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 16px;
  }

  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    background-color: #d1d5db; /* Light gray placeholder */
    border-radius: 50%;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
  }
  
  
  .name {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: #9ca3af; /* Light gray for icons */
    padding: 8px;
  }
  
  .icons svg {
      width: 15px;
      height: 15px;
  }