.sidebar {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #0b1320;
  text-align: left;
  background: #0b1320;
  color: white;
  padding: 40px;
  width: fit-content;
  height: 100%;
}